.navbar-mercantil {
    background-color: #004e9b;
    position: fixed;
    height: 4.2em;
    width: 100%;
    right: 0em;
}

#nav img {
    height: 4.2em;
    width: 100%;
}

#titulo-mercantil {
    width: 40%;
}

.titulo-mercantil {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #ffffff;
    font-weight: 545;
    position: relative;
    margin: 1.3em;
    float: right;
    left: 20vw;
}


/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body {
    margin: 0;
    padding: 0;
    /* make it look decent enough */
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

#menuToggle {
    display: block;
    position: relative;
    top: 22px;
    left: 14px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 35px;
    top: -7px;
    left: -1px;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/*
 * Just a quick hamburger
 */

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


/*
 * But let's hide the middle one.
 */

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

.boton-menu {
    cursor: pointer;
}

.prueba {
    background-color: blueviolet;
}


/*
 * And let's slide it in from the left
 */

#menuToggle input:checked~ul {
    transform: none;
}

@media (max-width: 575.98px) {
    .titulo-mercantil {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .titulo-mercantil {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .titulo-mercantil {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}