<form>
    <div class="menu-rel">
        <div class="menu">
            <div class="menu-opcoes">
                <div class="menu-hamburguer">
                    <input type="checkbox" value="selected" id="menu-hamburguer" class="menu-input">
                    <label for="menu-hamburguer" class="menu-label">
                    <img src="http://svgshare.com/i/Jj.svg">
                    </label>
                    <div role="menu" id="menuid" class="menu-content">
                        <div class="menu-list">
                            <div class="menu-list-item fechar-lado"><button class="fechar" type="reset">
                             <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></button>
                            </div>
                            <div class="menu-list-item"><a href="#">Home</a></div>
                            <div class="menu-list-item"><a href="#">Usage</a></div>
                            <div class="menu-list-item"><a href="#">Getting Started</a></div>
                            <div class="menu-list-item"><a href="#">Templates</a></div>
                            <div class="menu-list-item"><a href="#">Download</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-principal">
                <div class="logo-prinipal">
                    <img src="../assets/img/logo-principal.png">
                </div>
            </div>
            <div class="menu-iconos"></div>
        </div>
    </div>
</form>
<div class="fundo-cor-degrade-roxo"></div>