<div class="container-fluid">
    <div class="nav navbar-mercantil">
        <div class="nav-item boton-menu" id="nav" ng-click="showme=true">
            <img src="./assets/img/menu.png" alt="" class="img-fluid">
        </div>
        <div class="nav-item" id="nav">
            <img src="./assets/img/logo-principal.png" alt="" class="img-fluid">
        </div>
        <div class="nav-item" id="titulo-mercantil">
            <p class="titulo-mercantil">Mercantil En Línea Personas</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="wrapper">
    <div class="prueba" ng-hide="showme">
        <p>hola</p>
    </div>
</div>